:root[data-theme="light"] {
    color-scheme: light;
    --hue: 198deg; /* air-force-blue */
    --saturation: 37%;

    --bg-hue: 340deg; /* snow */
    --bg-saturation: 100%;
    --bg-brightness: 99%;

    --theme-accent-base: 198deg 37% 46%; /* air-force-blue */
    --theme-accent-one: 352deg 90% 39%; /* fire-brick */
    --theme-accent-two: 233deg 7% 48%; /* slate grey */

    --fg-hue: 210deg; /* eerie-black */
    --fg-saturation: 3%;
    --fg-brightness: 15%;

    --theme-text: var(--theme-color-700);
    --theme-link: 352deg 90% 39%; /* fire-brick */

    --theme-quote: var(--theme-text);

    --theme-lightest: hsla(340, 100%, 99%, 1); /* snow */
    --theme-lighter: hsla(230, 7%, 55%, 1);    /* lighter slate grey */
    --theme-light: hsla(233, 7%, 48%, 1);      /* slate grey */

    --theme-special-lightest: hsl(340, 100%, 99%);
    --theme-special-lighter: hsl(233, 7%, 48%);
    --theme-special-light: hsl(var(--bg-hue), var(--bg-saturation), var(--bg-brightness));
    --theme-special: var(--theme-color-75);
}

:root {
    --theme-bg: var(--bg-hue) var(--bg-saturation) var(--bg-brightness);
    --theme-fg: var(--fg-hue) var(--fg-saturation) var(--fg-brightness);

    --theme-color-900: hsl(var(--theme-fg) / 1);
    --theme-color-850: hsl(var(--theme-fg) / 0.9675);
    --theme-color-800: hsl(var(--theme-fg) / 0.935);
    --theme-color-750: hsl(var(--theme-fg) / 0.88);
    --theme-color-700: hsl(var(--theme-fg) / 0.825);
    --theme-color-650: hsl(var(--theme-fg) / 0.785);
    --theme-color-600: hsl(var(--theme-fg) / 0.745);
    --theme-color-550: hsl(var(--theme-fg) / 0.675);
    --theme-color-500: hsl(var(--theme-fg) / 0.605);
    --theme-color-450: hsl(var(--theme-fg) / 0.5);
    --theme-color-400: hsl(var(--theme-fg) / 0.395);
    --theme-color-350: hsl(var(--theme-fg) / 0.29);
    --theme-color-300: hsl(var(--theme-fg) / 0.185);
    --theme-color-250: hsl(var(--theme-fg) / 0.15);
    --theme-color-200: hsl(var(--theme-fg) / 0.115);
    --theme-color-150: hsl(var(--theme-fg) / 0.08);
    --theme-color-100: hsl(var(--theme-fg) / 0.045);
    --theme-color-75: hsl(var(--theme-fg) / 0.03375);
    --theme-color-50: hsl(var(--theme-fg) / 0.0225);

    --code-inline-bg: var(--theme-color-150);
    --code-bg: var(--theme-special);
    --code-title-bg: var(--theme-color-200);
    --code-line-highlight: var(--theme-color-150);
    --code-line-diff-add: rgba(72, 191, 145, 0.15);
    --code-line-diff-remove: rgba(248, 85, 82, 0.15);
}
