:root[data-theme="dark"] {
    color-scheme: dark;

    --hue: 210deg; /* eerie-black */
    --saturation: 3%;

    --bg-hue: 210deg;
    --bg-saturation: 3%;
    --bg-brightness: 15%;

    --theme-accent-base: 198deg 37% 46%; /* air-force-blue */
    --theme-accent-one: 230deg 7% 84%; /* platinum */
    --theme-accent-two: 340deg 100% 99%; /* snow */
    --theme-accent-three: 352deg 90% 39%; /* fire-brick */

    --fg-hue: 230deg;
    --fg-saturation: 7%;
    --fg-brightness: 84%;

    --theme-text: var(--theme-color-800);
    --theme-link: var(--theme-accent-three);
    --theme-accent: var(--theme-accent-two);
    --theme-quote: var(--theme-accent-one);

    --theme-lightest: var(--theme-color-450);
    --theme-lighter: var(--theme-color-500);
    --theme-light: var(--theme-color-600);

    --theme-special-lightest: var(--theme-color-250);
    --theme-special-lighter: var(--theme-color-200);
    --theme-special-light: var(--theme-color-150);
    --theme-special: hsl(var(--hue) var(--saturation) 0% / 0.15);
}

:root {
    --theme-bg: var(--bg-hue) var(--bg-saturation) var(--bg-brightness);
    --theme-fg: var(--fg-hue) var(--fg-saturation) var(--fg-brightness);

    --theme-color-900: hsl(var(--theme-fg) / 1);
    --theme-color-850: hsl(var(--theme-fg) / 0.9675);
    --theme-color-800: hsl(var(--theme-fg) / 0.935);
    --theme-color-750: hsl(var(--theme-fg) / 0.88);
    --theme-color-700: hsl(var(--theme-fg) / 0.825);
    --theme-color-650: hsl(var(--theme-fg) / 0.785);
    --theme-color-600: hsl(var(--theme-fg) / 0.745);
    --theme-color-550: hsl(var(--theme-fg) / 0.675);
    --theme-color-500: hsl(var(--theme-fg) / 0.605);
    --theme-color-450: hsl(var(--theme-fg) / 0.5);
    --theme-color-400: hsl(var(--theme-fg) / 0.395);
    --theme-color-350: hsl(var(--theme-fg) / 0.29);
    --theme-color-300: hsl(var(--theme-fg) / 0.185);
    --theme-color-250: hsl(var(--theme-fg) / 0.15);
    --theme-color-200: hsl(var(--theme-fg) / 0.115);
    --theme-color-150: hsl(var(--theme-fg) / 0.08);
    --theme-color-100: hsl(var(--theme-fg) / 0.045);
    --theme-color-75: hsl(var(--theme-fg) / 0.03375);
    --theme-color-50: hsl(var(--theme-fg) / 0.0225);

    --code-inline-bg: var(--theme-color-150);
    --code-bg: var(--theme-special);
    --code-title-bg: var(--theme-color-200);
    --code-line-highlight: var(--theme-color-150);
    --code-line-diff-add: rgba(72, 191, 145, 0.15);
    --code-line-diff-remove: rgba(248, 85, 82, 0.15);
}
